:root{
    --text-color: #263343;
    --background-color: #f0f4f5;
    --accent-color: lightpink;
    --font-size: 25px;
}

@font-face {
    font-family: 'MyMono';
    src: url('fonts/InputMono-ExtraLight.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Poppins';
    font-weight: 250;
}

img {
    width: auto;
    height: 400px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

h1{
    font-family: 'Poppins';
}

h2{
    font-weight: 5;
    font-family: 'Noto Sans';
    font-size: 20px;;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #263343;
    padding: 1px 12px;
}

.navbar_name{
    font-size: 30px;
    padding-left: 35px;
    /* font-family: 'Montserrat'; */
    color: var(--text-color);
}

.navbar_menu{
    display: flex;
    margin-left: auto;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li{
    padding: 8px 30px;
    font-size: var(--font-size);
}

.navbar_menu li:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navbar_icons{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar_icons li{
    padding: 8px 17px; 
    font-size: var(--font-size);
}

.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: var(--font-size);
}

.container{
    padding-top: 100px;
    padding-left: 180px;
    padding-right: 150px;
}

.container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 8px 20px;
}

.container li{
    padding-right: 50px;
    align-items: start;
}

.img_grad{
    width: auto;
    height: 400px;
}

.img_lake{
    width: 450px;
    height: auto;
}

.img_osaka{
    width: 450px;
    height: auto;
}

/* Adding responsiveness to screen size */
@media screen and (max-width: 1000px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_name {
        width: 100%;
        padding-left: 0;
        text-align: center;
        align-items: center;
    }

    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

    .container{
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 0px;
    }

    .container ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-right: 0px;
    }

    .self_intro_academic img,
    .self_intro_hobby img {
        width: 100%; /* Adjust the width as needed */
    }
}